<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.givts.app.mapper.OccasionMapper">
    <select id="selectOccasionById" parameterType="long" resultMap="occasionResultMap">
        SELECT O.id AS occasion_id,
               O.name AS occasion_name,
               O.date AS occasion_date,
               O.created_date AS occasion_created_date,
               O.modified_date AS occasion_modified_date,
               G.id AS giftee_id,
               G.name AS giftee_name,
               G.created_date AS giftee_created_date,
               U.id AS user_id,
               U.created_date AS user_created_date,
               U.name AS user_name,
               U.email AS user_email
        FROM occasions O
        JOIN giftees G ON O.giftee_id = G.id
        JOIN users U ON G.user_id = U.id
        WHERE O.id = #{id}
    </select>

    <insert id="insertOccasion">
        INSERT INTO occasions (name, date, created_date, giftee_id)
        VALUES (#{name}, #{date}, CURDATE(), #{giftee.id})
    </insert>

    <update id="updateOccasionById">
        UPDATE occasions SET name = #{o.name}, date = #{o.date}, modified_date = CURDATE() WHERE id = #{id}
    </update>

    <delete id="deleteOccasion">
        DELETE FROM occasions WHERE id = #{id}
    </delete>

    <resultMap id="occasionResultMap" type="Occasion">
        <id property="id"  column="occasion_id" />
        <result property="name" column="occasion_name" />
        <result property="date" column="occasion_date" />
        <result property="createdDate" column="occasion_created_date" />
        <result property="modifiedDate" column="occasion_modified_date" />
        <association property="giftee" resultMap="com.givts.app.mapper.GifteeMapper.gifteeResultMap" javaType="Giftee"/>
    </resultMap>

</mapper>