<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.givts.app.mapper.UserMapper">
    <select id="selectUserById" resultMap="userResultMap">
        SELECT U.id, U.name, U.email, U.created_date FROM users U
        WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO users (id, name, email, created_date) VALUES (#{id}, #{name}, #{email}, CURDATE())
    </insert>

    <update id="updateUserById">
        UPDATE users SET name = #{u.name}, email = #{u.email} WHERE id = #{id}
    </update>

    <delete id="deleteUserById">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="createdDate" column="created_date" />
    </resultMap>
</mapper>