<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.givts.app.domain.User" alias="User"/>
        <typeAlias type="com.givts.app.domain.Giftee" alias="Giftee"/>
        <typeAlias type="com.givts.app.domain.Occasion" alias="Occasion"/>
        <typeAlias type="com.givts.app.domain.Gift" alias="Gift"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/GifteeMapper.xml"/>
        <mapper resource="mapper/OccasionMapper.xml"/>
        <mapper resource="mapper/GiftMapper.xml"/>
    </mappers>
</configuration>